body {padding-top: 30px;}

.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;

}

#footer p {
  margin: 0;
  font-size: 16px;
}

.tooltip {
  position: absolute;
  width: 115px;
  height: 70px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif !important;
  color: white;
  text-align: center;
  background:  teal;
  border: 4;
  border-color:black;
  border-radius: 10px;
}


.jumbotron {
  background-image: url("/../assets/images/data.png");
  background-size: cover;
  color:white;
  font-size: 20px !important ;
  margin-bottom: 10px

}

.jumbotron h1{
  font-weight: 800;
  }

.jumbotron p{
  font-weight: 500;
  color: black
}

.graph {
  align-items: center;
}

.navbar-header {
  float: left;
  padding: 0px;
  text-align: center;
  width: 100%;
}
.navbar-brand {
  float:none;
}